<%- include("partials/header.ejs") %>
<style>
   
</style>
<div class="versus_container">
    <div class="heroA">
        <!-- Hero A -->
        <form class="d-flex input-group w-auto" action="/findHeroA" method="post">
            <input type="search" class="form-control" placeholder="Name" name="searchName" aria-label="Search" required />
            <button class="btn" type="submit" data-mdb-ripple-color="dark">Search</button>
        </form>

        <% if (detailsA) { %>
            <div class="body-container">
                <% detailsA.forEach((detail, index) => { %>
                    <div class="card__container">
                        <article class="card__article">
                            <%= index + 1 %>
                            <img src="<%= detail.image.url %>" alt="<%= detail.name %>" class="card__img">
                            <div class="card__data">
                                <span class="card__description"><%= detail.name %></span>
                                <h4>'<%= detail.biography['full-name'] %>'</h4>

                                <h2>Appearance</h2>
                                <ul>
                                    <li>Gender: <%= detail.appearance.gender %></li>
                                    <li>Race: <%= detail.appearance.race %></li>
                                    <li>Height: <%= detail.appearance.height[0] %> / <%= detail.appearance.height[1] %></li>
                                </ul>

                                <h2>Powerstats</h2>
                                <ul>
                                    <li>Intelligence: <%= detail.powerstats.intelligence %></li>
                                    <li>Strength: <%= detail.powerstats.strength %></li>
                                    <li>Speed: <%= detail.powerstats.speed %></li>
                                    <li>Durability: <%= detail.powerstats.durability %></li>
                                    <li>Power: <%= detail.powerstats.power %></li>
                                    <li>Combat: <%= detail.powerstats.combat %></li>
                                </ul>

                                <p>Total Power =
                                <% let sum = detail.powerstats.intelligence + detail.powerstats.strength %>
                                </p>

                            </div>
                        </article>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>

    <h1>VS</h1>

    <div class="heroB">
        <!-- Hero B -->
        <form class="d-flex input-group w-auto" action="/findHeroB" method="post">
            <input type="search" class="form-control" placeholder="Name" name="searchName" aria-label="Search" required />
            <button class="btn" type="submit" data-mdb-ripple-color="dark">Search</button>
        </form>

        <% if (detailsB) { %>
            <div class="body-container">
                <% detailsB.forEach((detail, index) => { %>
                    <div class="card__container">
                        <article class="card__article">
                            <%= index + 1 %>
                            <img src="<%= detail.image.url %>" alt="<%= detail.name %>" class="card__img">
                            <div class="card__data">
                                <span class="card__description"><%= detail.name %></span>
                                <h4>'<%= detail.biography['full-name'] %>'</h4>

                                <h2>Appearance</h2>
                                <ul>
                                    <li>Gender: <%= detail.appearance.gender %></li>
                                    <li>Race: <%= detail.appearance.race %></li>
                                    <li>Height: <%= detail.appearance.height[0] %> / <%= detail.appearance.height[1] %></li>
                                </ul>

                                <h2>Powerstats</h2>
                                <ul>
                                    <li>Intelligence: <%= detail.powerstats.intelligence %></li>
                                    <li>Strength: <%= detail.powerstats.strength %></li>
                                    <li>Speed: <%= detail.powerstats.speed %></li>
                                    <li>Durability: <%= detail.powerstats.durability %></li>
                                    <li>Power: <%= detail.powerstats.power %></li>
                                    <li>Combat: <%= detail.powerstats.combat %></li>
                                </ul>
                                <p>Total Power = 
                                    <% sum = detail.powerstats.intelligence + detail.powerstats.strength %>
                                </p>
                            </div>
                        </article>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>
     
</div>

<div class="result_constainer">
    
</div>

<%- include("partials/footer.ejs") %>